@media (min-width: 576px) {
  * {
    background-color: rgb(187, 187, 187);
  }

  .quiz {
    margin: 50px 30px;
  }

  .quiz-question {
    align-items: flex-start;
  }

  .quiz-question-title {
    font-size: 40px;
    line-height: 43px;
  }

  .quiz-question-options,
  .quiz-option {
    /* flex-direction: column; */
    margin: 5px;
    font-size: 25px;
  }

  .btn,
  .btn:disabled {
    font-size: 20px;
    width: 200px;
    padding: 12px;
  }

  .start-title {
    font-size: 70px;
    margin-bottom: 15px;
  }

  .start-subtitle {
    font-size: 30px;
    margin-bottom: 50px;
  }

  .start-button {
    font-size: 22px;
  }

  .finished-score {
    font-size: 22px;
    margin-right: 25px;
  }
}

@media (min-width: 1024px) {
  .quiz-question,
  .quiz-question-title {
    margin-bottom: 20px;
    align-items: stretch;
  }

  .quiz-question-title {
    font-size: 18px;
    line-height: 19px;
  }

  .quiz {
    margin: 35px 75px;
  }

  .quiz-option {
    font-size: 15px;
  }

  .btn,
  .btn:disabled {
    font-size: 12px;
    width: 100px;
    padding: 7px;
  }

  .start-title {
    font-size: 40px;
    margin-bottom: 10px;
  }

  .start-subtitle {
    font-size: 18px;
    margin-bottom: 15px;
  }

  .start-button {
    font-size: 16px;
  }

  .finished-score {
    font-size: 16px;
    margin-right: 15px;
  }
}
